<div class="container-fluid">
  <form class="buy-form mb-5">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Posición</th>
            <th scope="col">Símbolo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Código</th>
            <th scope="col">Valor Promedio</th>
            <th scope="col">Cantidad Comprada</th>
            <th scope="col">Ganancia</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><img src="../../../assets/images/Logos/icono-de-prueba-3.png" alt="" class="img-fluid icon"></td>
            <td>Empresa</td>
            <td><strong class="icon">EMP</strong></td>
            <td>$10.00</td>
            <td>100</td>
            <td>$50.00</td>
            <td>$1000.00</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><img src="../../../assets/images/Logos/icono-de-prueba-2.png" alt="" class="img-fluid icon"></td>
            <td>Empresa</td>
            <td><strong class="icon">EMP</strong></td>
            <td>$15.00</td>
            <td>200</td>
            <td>$100.00</td>
            <td>$3000.00</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><img src="../../../assets/images/Logos/icono-de-prueba-4.png" alt="" class="img-fluid icon"></td>
            <td>Empresa</td>
            <td><strong class="icon">EMP</strong></td>
            <td>$20.00</td>
            <td>150</td>
            <td>$75.00</td>
            <td>$2500.00</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td><img src="../../../assets/images/Logos/logo-de-prueba.png" alt="" class="img-fluid icon"></td>
            <td>Empresa</td>
            <td><strong class="icon">EMP</strong></td>
            <td>$12.50</td>
            <td>300</td>
            <td>$200.00</td>
            <td>$3750.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>

<div class="row-center">
  <div class="container">
    <form class="buy-form mb-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="text-center">Total invertido: $1.000.000</th>
          </tr>
        </thead>
      </table>
    </form>
  </div>
</div>