<div class="container-fluid mt-5">
    <div class="row">
        <section class="primer-bloque" id="quitar-blanco">
            <img class="img-1-primer-bloque" src="../../../assets/images/Logos/source/circulo.png" alt="Logo de ARGENTRADER" height="370">
              <div class="txt-primer-bloque">
                <img src="../../../assets/images/Logos/source/argentrader-high-resolution-logo-white-on-transparent-background(1).png" alt="" height="60">
                  <h1>EMPEZÁ A COMPRAR TUS <br>ACCIONES ARGENTINAS</h1>
                  <p>​En unos sencillos pasos podrás operar en el mercado de acciones.</p>
                  <button routerLink="/create-user" class="botonprimero">EMPEZAR AHORA</button>
              </div>
          </section>
          
        
          <!--Añado carrusel ¿Quiénes somos?-->
          <app-carrousel></app-carrousel>
          <!--Carrusel añadido-->
          <div id="ancla1">
            <div class="porque">
              <p>¿Por qué ARGENTRADER?</p>
              <div class="container">
                <div>
                  <img src="../../../assets/images/Logos/source/cohetec.png" height="100" alt="Logo de un cohete">
                  <p>Abrí tu cuenta de<br>inversión sin costo</p>
                </div>
                <div>
                  <img src="../../../assets/images/Logos/source/corazonc.png" height="130" alt="Logo de manos sacudiendose pactando un trato">
                  <p>Comenzá a invertir<br>desde bajos montos</p>
                </div>
                <div>
                  <img src="../../../assets/images/Logos/source/varitac.png" height="110" alt="Logo de una varita mágica">
                  <p>El mejor análisis<br>para tus inversiones</p>
                </div>
                <div>
                  <img src="../../../assets/images/Logos/source/atomicoc.png" height="110" alt="Logo de un átomo">
                  <p>Tu dinero está en<br>constante movimiento</p>
                </div>
              </div> 
            </div>
            </div>
        
          <!-- parte betha -->
          <section class="seccion-2">
            <div class="mod-a">
              <img src="../../../assets/images/Logos/source/bloque4.png" alt="IMAGEN" style="height:700;" id="ancla2">
              <div class="txt-academia">
                <h2>ACADEMIA ARGENTRADER</h2>
                <p>APRENDÉ CON NOSOTROS SIN COSTO, ¡EMPEZÁ A INVERTIR YA!</p>
                <button routerLink="/create-user" class="btn-academia">ABRÍ TU CUENTA</button>
              </div>
            </div>
            <div class="mod-b">
              <div class="vertical">
                <span class="zero">$0</span> 
                <p id="ancla3">de apertura y mantenimiento de cuenta</p>
              </div>
              <button routerLink="/create-user" class="btn-conv">ABRÍ TU CUENTA</button>
            </div>
          </section>
        
          <!-- parte andi -->
          <div class="encabezado">
              <h2>¿CÓMO EMPEZAR?</h2> 
          </div>	
          <div class="contenedor">
            <div class="contenedor">
                    <div class="imgfondo">
                        <div class="text-center mr-3">
                            <img src="../../../assets/images/Logos/source/tic.png" alt="Logo de verificado">
                            <p>Registrate</p>
                        </div>
                        <span class="flecha-derecha">&#10140;</span>
                        <div class="text-center mr-3">
                            <img src="../../../assets/images/Logos/source/learn.png" alt="Logo de aprendizaje">
                            <p>Aprendé</p>
                        </div>
                        <span class="flecha-derecha">&#10140;</span>
                        <div class="text-center mr-3">
                            <img src="../../../assets/images/Logos/source/money.png" alt="Logo de ganá">
                              <p>Ganá</p>
                        </div>
                    </div>
                </div>
            <button routerLink="/create-user" class="btnultimo">EMPEZAR AHORA</button>
          </div>
        


    </div>
</div>
