
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1A1A1A;
    }
    body {
        background-color: #1A1A1A;
        font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        min-height: 100%;
        overflow-x: hidden;
    }
    .navbar{
        opacity: 1;
        width: 100%;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-evenly;
        font-weight: bolder;
        font-size: 15px;
        background-color: #1a1a1a;
        padding: 15px;
        /* Comento el gap porque se renderiza mejor el menú hamburguesa
        gap: 100px;
        */
        position: sticky;
        opacity: 1;
        min-height: 30px;
    }
    .logo {
        margin-right: 15px;
    }
    .nav-links {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }
    .nav-links li {
        margin-right: 10px;
    }
    .nav-links li a {
        color: #99bbdb;
        text-decoration: none;
        padding: 8px 12px;
        border-radius: 4px;
        background-color: transparent;
    }
    .nav-links li a:hover {
        color: #fff;
        background-color: #1a1a1a;
        box-shadow: #1a1a1a 0 8px 15px;
        transform: translateY(-2px);
        color: #99bbdb;
        /* text-decoration: underline; */
    }
    .nav-links:active {
        box-shadow: none;
    }
    .special-button {
        appearance: none;
        background-color: transparent;
        border: 0.125em solid #99bbdb;
        border-radius: 0.9375em;
        box-sizing: border-box;
        color: #99bbdb;
        cursor: pointer;
        display: inline-block;
        font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        margin: 0;
        min-height: 10px;
        min-width: 0;
        outline: none;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        will-change: transform;
        border: #99bbdb;
    }
    .special-button:disabled {
        pointer-events: none;
    }
    .special-button:hover {
        color: #fff;
        background-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }
    .special-button:active {
        box-shadow: none;
        transform: translateY(0);
    }
    .primer-bloque{
        width: 100%;
        height:500px;
        display: flex;
        justify-content: center;
        background-color: #1A1A1A;
        padding-top: 30px;
        flex-wrap: wrap;
    }
    .primerbloque img{
        position: relative;
        top: -81px;
    }
    .txt-primer-bloque{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
    }
    .txt-primer-bloque h1{
        font-weight: bolder;
        font-size: 35px;
        color: #e4c47c;
        text-align: center;
    }
    .txt-primer-bloque p{
        color: #e4c47c;
        width: 75%;
        text-align: center;
        font-size: 20px;
        margin-top: -30px;
    }
    .botonprimero {
        /* margin-left: 600px;
        margin-top: 40px; */
        height: 50px;
        width: 200px;
        border: 0.125em solid #99bbdb;
        background-color: #99bbdb;
        border-radius: 0.9375em;
        font-size: 20px;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
    }
    
    .botonprimero:hover {
        color: #fff;
        background-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }
    
    .botonprimero:active {
        box-shadow: none;
        transform: translateY(0);
    }
    
    .bloquetext {
        margin-left: 900px;
        margin-top: -570px;
    }
    
    .porque{
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
    .porque p {
        padding-top: 40px;
        font-size: 60px;
        font-weight: bolder;
        color: #99bbdb;
        background-color: #1A1A1A;
    }
    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        text-align: center;
        flex-wrap: wrap;
        /* magin: 200px; */
    }
    .container img {
        /* width: 100px; */
        height: 100px;
    }
    .container p{
        font-size: 15px;
        font-weight: bolder;
        color: #99bbdb;
        /* display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #99bbdb;
        margin-right: 250px;
        margin-left: 270px; */
    }
    .seccion-2{
        background-color:  #1a1a1a;
        min-height: 180px;
        color: #e4c47c;
        padding-top:50px ;
    }
    .mod-a{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:55px;
        min-height: 300px;
    }
    .txt-academia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 350px;
        text-align: center;
        gap:15px;
    }
    .txt-academia h2{
        font-weight: bold;
        font-size: 50px;
    }
    .txt-academia p{
        font-size: 20px;
        margin-top: -10px;
    }
    .btn-academia{
        margin-left: 10px;
        margin-top: 30px;
        border: 0.125em solid #99bbdb;
        background-color: #99bbdb;
        border-radius: 0.9375em;
        font-size: 20px;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        color:#1a1a1a;
        text-decoration: none;
        font-weight: bold;
    padding: 20px;
    }
    
    .btn-academia:hover{
        color: #fff;
        background-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }
    
    .btn-academia:active{
            box-shadow: none;
            transform: translateY(0);
    }
    .mod-b{
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
      padding-block: 50px;
    }
    .zero{
        color: #e4c47c;
        font-size: 90px;
        font-weight: bolder;
    }
    .mod-b p{
        font-size: 40px;
        font-weight: bold;
        color: #99bbdb;
    }
    .btn-conv{
        margin-left: 10px;
        margin-top: 30px;
        border: 0.125em solid #99bbdb;
        background-color: #99bbdb;
        border-radius: 0.9375em;
        font-size: 20px;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        color:#1a1a1a;
        text-decoration: none;
        font-weight: bold;
        padding: 20px;
    }
    
    .btn-conv:hover{
        color: #fff;
        background-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }
    
    .btn-conv:active{
        box-shadow: none;
        transform: translateY(0);
    }
    
    .encabezado{
        padding-top: 40px;
        font-size: 40px;
        color:#99bbdb ;
        padding: 20px;
        text-align: center;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .flecha-derecha {
        color: #e4c47c;
        font-size: 40px;
    }
    
    .imgfondo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
        font-size: 20px;
        color: #e4c47c;
        flex-wrap: wrap;
    }
    .imgfondo img {
        height: 90px;
    }
    .btnultimo {
        margin-left: 10px;
        margin-top: 80px;
        border: 0.125em solid #99bbdb;
        background-color: #99bbdb;
        border-radius: 0.9375em;
        font-size: 20px;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        color:#1a1a1a;
        text-decoration: none;
        font-weight: bold;
        margin-bottom: 150px;
        padding: 20px;
    }
    
    .btnultimo:hover{
        color: #fff;
        background-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }
    
    .btnultimo:active{
        box-shadow: none;
        transform: translateY(0);
    }
    
    footer {
        background-color: #1a1a1a;
        color: #e4c47c;
        padding: 20px;
        text-align: center;
    }
    .logofooter {
        width: 500px; 
        height: auto; 
        margin-bottom: 15px; 
    }
    .mod-b div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .mod-b div p{
        align-self: end;
    }
    @media (min-width: 449px) and (max-width: 900px) {
        .txt-primer-bloque img{
            height: 40px;
        }
    }
    @media (min-width: 300px) and (max-width: 850px) {
        .txt-primer-bloque{
            width: 100%;
            margin-left: -250px;
            gap: 25px;
        }
        .img-1-primer-bloque{
            visibility: hidden;
        }
        .porque p:first-child{
            font-size:xx-large;
            text-align: center;
            text-justify: distribute;
        }
        .container {
            padding-top: 50px;
            gap: 60px;
        }
        .mod-a img{
            visibility: hidden;
        }
        .txt-academia{
            width: 100%;
           position: absolute;
           right: auto;
           flex-wrap: wrap;
           padding-inline: 10px;
        }
        .mod-b div{
            flex-direction: column;
            justify-content: center;
            padding-inline: 5px;
        }
    
        .mod-b p{
           text-align: center;
        }
        .imgfondo{
            flex-direction: column;
        }
        .flecha-derecha{
          transform: rotate(90deg);
          font-size: 100px;
        }
        .logofooter{
            height: 70%;
            width: 100%;
        }
    }
    @media (min-width: 300px) and (max-width: 450px) {
        .txt-primer-bloque{
            padding-left: 10px;
            padding-right: 10px;
        }
     .txt-primer-bloque img{
        height: 15px;
    }   
    .txt-academia h2{
        font-size: 40px;
    }
    
    }
    
    #navbar-toggler {
        background-color: #fff;
    }
    
    #navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    
    .vertical > p {
        margin-bottom: 35px;
    }

    
    /* */

    html {
        min-height: 100%;
        position: relative;
    }
    
    body {
        background-color: #1a1a1a;
        margin: 0;
        margin-bottom: 40px;
    }
    
    .container-fluid {
        background-color: #1a1a1a;
    }
    
    .btn-primary {
        background-color: #1c3444;
    }
    
    footer {
        padding: 0%;
        font-family: 'Quicksand', sans-serif;
        font-family: 'Rosario', sans-serif;
        background-color: #1a1a1a;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40px;
    }
    
    #logo-header {
        height: 40px;
        padding: 10px;
    }
    
    #logo-bitcoin {
        height: 3px;
    }
    
    .centered-form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }
    
    .buy-form {
        background-color: #fcfbf4;
        border-radius: 15px;
    }
    
    form {
        padding: 15px;
    }
    
    input {
        border-radius: 5px;
        width: 30%;
        background-color: #fcfbf4;
    }
    
    #cantidad{
        margin-left: 10px;
    }
    
    .buy-img {
        height: 50px;
    }
    
    
    .icon {
        width: 30px;
        background-color: #fff;
    }
    
    .table {
        margin-bottom: 0px;
        max-width: 100%;
    }
    
    .table-reponsive {
        max-width: 100%;
    }
    
    #tabla-cotizaciones td,
    #tabla-cotizaciones th {
        position: relative;
        text-align: center;
        vertical-align: middle;
    }
    
    /* Estilo para centrar y dar separación a los botones en la última fila */
    
    .centered-cell {
        text-align: center;
        vertical-align: middle;
    }
      
    .cell-spacing {
        margin-top: 10px;
    }
    
    .button-spacing{
        margin-right: 50px;
    }
    
    #navbar {
        padding: 10px;
        margin-top: 25px;
    }
    
    .cotizacion-img{
        background-color: #fff;
    }
    
    .labels {
        background-color: #fff;
    }
    
    .saldo-label {
        position: fixed;
        clear: both;
        margin-top: 20px;
        right: 13px;
        background-color: #fcfbf4;
        padding: 10px;
        border-radius: 5px;
        color: #333;
        font-weight: bold;
    }
    
    .navbar-toggler-icon, .navbar-toggler {
        background-color: #fcfbf4;
    }
    
    .a-cotiza {
        text-decoration: none;
        color: #fff;
        background-color: transparent;
    }
    
    @media screen and (max-width: 370px){
        
        .a-forgot {
            margin-bottom: 1px;
        }
    
        .div-forgot {
            display: grid;
            place-items: center;
            margin: auto;
        }
    }
    
    .a-forgot {
        margin-top: 5px;
    }
    
    header {
        background-color: #1a1a1a;
    }
    
    #a-none {
        text-decoration: none;
    }
    
    .bd-example :where(h4, p, ol, .carousel-caption) {
        background-color: transparent;
    }
    
    .bd-example :where(.carousel) {
        background-color: #1a1a1a;
    }
    
    
    
    .bd-example :where(ol) {
        margin-bottom: 0px;
    }
    
    .bd-example :where(.carousel-caption) {
        padding: 0px;
    }
    
    .carousel-item {
        height: 500px;
        overflow: hidden;
    }
    
    .carousel-item img {
        height: 100%;
        max-width: 500px;
        object-fit: cover;
        padding: 0px;
        border-radius: 20px;
    }
    
    @media screen and (max-width: 768px) {
        .carousel-item :where(p) {
            display: none;
        }    
    }
    
    @media screen and (max-width: 551px) {
        .carousel-item {
            height: 450px;
            width: 450px;
        }
        .carousel-item img {
            max-width: 450px;
        }
    }
    
    
    @media screen and (max-width: 511px) {
        .carousel-item {
            height: 400px;
            width: 400px;
        }
        .carousel-item img {
            max-width: 400px;
        }
    }
    
    @media screen and (max-width: 451px) {
        .carousel-item {
            height: 350px;
            width: 350px;
        }
        .carousel-item img {
            max-width: 350px;
        }
    }
    
    @media screen and (max-width: 411px) {
        .carousel-item {
            height: 300px;
            width: 300px;
        }
        .carousel-item img {
            max-width: 300px;
        }
    }
    
    @media screen and (max-width: 351px) {
        .carousel-item {
            height: 250px;
            width: 250px;
        }
        .carousel-item img {
            max-width: 250px;
        }
        .carousel-item :where(h4) {
            font-size: 20px;
            margin-bottom: 0px;
        }
    }
    
    .cotizaciones-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    /*Quitar blanco del fondo de los elementos de landing*/
    
    