<div class="container-fluid">
  <form class="buy-form mb-5">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <img src="../../../assets/images/Logos/logo-de-prueba.png" alt="imagen del logo de Bitcoin" class="labels buy-img">
            </th>
            <th scope="col" colspan="2">
              <p class="labels"><strong class="labels">BITCOIN</strong></p>
            </th>
            <th scope="col">
              <p class="labels"><strong class="labels">BTC</strong></p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <label for="precio" class="labels">Precio:</label>
              <label for="precio" id="precio-actual" class="labels">$1200</label>
            </td>
            <td colspan="2">
              <label for="cantidad" class="labels">Cantidad:</label>
              <input type="text" id="cantidad" name="cantidad" class="labels">
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              <label for="comision-broker" class="labels">Comisión del broker:</label>
            </td>
            <td colspan="2">
              <label for="comision-porcentaje" id="porcentaje-comision" class="labels">1.5%</label>
            </td>
            <td>
              <label for="comision-moneda-local" id="comision-moneda-local" class="labels">$15000</label>
            </td>
          </tr>
          <tr>
            <td>
              <label for="total-pagar" class="labels">Total a pagar (acciones):</label>
            </td>
            <td colspan="2">
              <label for="total-a-pagar" id="total-pagar" class="labels">$1000</label>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              <label for="total-pagar" class="labels">Total a pagar:</label>
            </td>
            <td>
              <label for="total" id="total-pagar" class="labels">$100000</label>
            </td>
            <td colspan="2">
            </td>
          </tr>
          <tr>
            <td class="centered-cell" colspan="4">
              <button type="submit" class="btn btn-primary button-spacing cell-spacing">Confirmar</button>
              <button type="button" class="btn btn-secondary cell-spacing">
                <a href="" class="a-cotiza">Cancelar</a></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>