.container-fluid {
  background-color: #1a1a1a;
}

form {
  padding: 15px;
}

@media screen and (max-width: 370px){
    
  .a-forgot {
      margin-bottom: 1px;
  }

  .div-forgot {
      display: grid;
      place-items: center;
      margin: auto;
  }
}