/* You can add global styles to this file, and also import other style files */
html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #1a1a1a;
  margin: 0;
  margin-bottom: 40px;
}

/* stlye-ajustes-Julian */
.settings-section {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333333;
}
.section-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.setting-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.setting-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-color: #99bbdb;
  border-radius: 50%;
}
.setting-label {
  flex-grow: 1;
}
.setting-description {
  color: #666666;
}


/* stlye-mi-cuenta-Julian */
.profile-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333333;
}
.profile-header {
  display: flex;
  align-items: center;
}
.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: #99bbdb;
}
.profile-name {
  font-size: 24px;
  font-weight: bold;
  color: #1a1a1a;
}
.profile-description {
  margin-top: 10px;
  color: #666666;
}
.profile-details {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #dddddd;
}
.detail-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.detail-label {
  font-weight: bold;
  margin-right: 10px;
  width: 100px;
}
.section-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.section-item {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.section-item:hover {
  background-color: #f5f5f5;
}
.section-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-color: #99bbdb;
  border-radius: 50%;
}
.section-title {
  font-weight: bold;
}

.section-center{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
}


/* stlye-not-found-Julian */
.error-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.error-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}
.error-message {
  font-size: 18px;
}
.home-link {
  color: #99bbdb;
  text-decoration: none;
  font-weight: bold;
}
