<nav class="navbar navbar-expand-lg">
    <div class="logo">
      <img class="fluid" src="./source/argentrader-high-resolution-logo-white-on-transparent-background(1).png" alt="Logo de ARGENTRADER"  height="20">
    </div>
    <button class="navbar-toggler" id="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" id="navbar-toggler-icon"></span>
	  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav-links navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#anclaqs">¿Quiénes somos?</a></li>
        <li class="nav-item"><a class="nav-link" href="#ancla1">¿Por qué ARGENTRADER?</a></li>
      	<li class="nav-item"><a class="nav-link" href="#ancla2">Aprende con nosotros</a></li>
        <li class="nav-item"><a class="nav-link" href="#ancla3">Opciones de inversión</a></li>
	      <li class="nav-item"><a href="/Forms(Baldovino-Salvini)/form-create-user.html" class="special-button">Activar cuenta</a></li>
        <li class="nav-item"><a href="/Forms(Baldovino-Salvini)/form-sign-in-user.html" class="special-button">Iniciar sesión</a></li>
      </ul>
    </div>
  </nav>
