<nav class="navbar navbar-expand-lg">
  <div class="logo">
    <img class="fluid"
      src="../../../assets/images/Logos/source/argentrader-high-resolution-logo-white-on-transparent-background(1).png"
      alt="Logo de ARGENTRADER" height="20">
  </div>
  <button class="navbar-toggler" id="navbar-toggler" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" id="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav-links navbar-nav ml-auto me-auto mb-2 mb-lg-0">
      <li class="nav-item"><a class="nav-link active" href="">¿Quiénes somos?</a></li>
      <li class="nav-item"><a class="nav-link" href="">¿Por qué ARGENTRADER?</a></li>
      <li class="nav-item"><a class="nav-link" href="">Aprende con nosotros</a></li>
      <li class="nav-item"><a class="nav-link" href="">Opciones de inversión</a></li>
      <li class="nav-item"><a href="" class="special-button">Activar cuenta</a></li>
      <li class="nav-item"><a href="" class="special-button">Iniciar sesión</a></li>
    </ul>
  </div>
</nav>