body {
    background-color: #e4c47c;
}

* {
    background-color: #e4c47c;
}

.btn-primary {
    background-color: #1c3444;
    
}

footer {
    padding: 0%;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Rosario', sans-serif;
}

#logo-header {
    height: 40px;
    padding: 10px;
}

header {
    margin-top: 10px;
}

#logo-bitcoin {
    height: 3px;
}

.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.buy-form {
    background-color: #fcfbf4;
    padding: 15px;
    border-radius: 15px;
}



input {
    border-radius: 5px;
    width: 20%;
}



