body {
    background-color: #e4c47c;
}

* {
    background-color: #e4c47c;
}

.btn-primary {
    background-color: #1c3444;
    
}

footer {
    padding: 0%;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Rosario', sans-serif;
}

#logo-header {
    height: 40px;
    padding: 10px;
}

header {
    margin-top: 10px;
}

#logo-bitcoin {
    height: 3px;
}

.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.buy-form {
    background-color: #fcfbf4;
    border-radius: 15px;
}

form {
    padding: 15px;
}

input {
    border-radius: 5px;
    width: 30%;
    background-color: #fcfbf4;
}

.buy-img {
    height: 50px;
}


.icon {
    width: 30px;
    background-color: #fff;
}

.table {
    margin-bottom: 0px;
}