<div class="container-fluid text-center">
  <img src="/Logos/LogoSinFondoWhite.png" alt="" class="img-fluid" id="logo-header">
</div>
<h1 class="text-white">Mi Cuenta</h1>
<div class="container-fluid">
  <div class="profile-section">
      <div class="profile-header">
        <div class="profile-image"></div>
        <div class="profile-info">
          <div class="profile-name">Usuario</div>
          <div class="profile-description">Descripción</div>
        </div>
      </div>
      <div class="profile-details">
        <div class="detail-item">
          <span class="detail-label">Ubicación:</span> Ciudad, País
        </div>
        <div class="detail-item">
          <span class="detail-label">Correo Electrónico:</span> usuario@1.com
        </div>
        <div class="detail-item">
          <span class="detail-label">Teléfono:</span> (999) 999-9999
        </div>
      </div>
    </div>
    <div class="section-center">
    <ul class="section-list">
      <li class="section-item">
        <div class="section-icon"></div>
        <span class="section-title">Mis Datos</span>
      </li>
      <li class="section-item">
        <div class="section-icon"></div>
        <span class="section-title">Seguridad</span>
      </li>
      <li class="section-item">
        <div class="section-icon"></div>
        <span class="section-title">Tarjeta de Privacidad</span>
      </li>
    </ul>
  </div>
  <!-- <p>ARGENTRADER TM™</p> -->
</div>