<button (click)="refrescar_cotizaciones()">Click</button>
<div class="container-fluid">
    <form class="buy-form mb-5">
      <div class="table-responsive">
        <table class="table" id="tabla-cotizaciones">
        <thead>
        <tr>
          <th scope="col">Símbolo</th>
          <th scope="col">Nombre</th>
          <th scope="col">Último operado</th>
          <th scope="col">Cantidad compra diaria</th>
          <th scope="col">Precio compra actual</th>
          <th scope="col">Precio venta actual</th>
          <th scope="col">Cantidad venta diaria</th>
          <th scope="col">Apertura</th>
          <th scope="col">Mínimo diario</th>
          <th scope="col">Máximo diario</th>
          <th scope="col">Último cierre</th>
          <th scope="col">Gráfico</th>
          <th scope="col"></th> 
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><img src="/Logos/logo-de-prueba.png" alt="" class="img-fluid icon"></td>
          <td>Empresa</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td><img src="/Logos/cotizacion-prueba.svg" alt="" class="img-fluid cotizacion-img"></td>
          <td class="centered-cell">
            <button class="btn btn-primary"><a href="/Forms(Herrera-Salvini)/prueba-buy-form.html" class="a-cotiza">Comprar</a></button>
          </td>
        </tr>
        <tr>
          <td><img src="/Logos/icono-de-prueba-2.png " alt="" class="img-fluid icon"></td>
          <td>Empresa</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td><img src="/Logos/cotizacion-prueba.svg" alt="" class="img-fluid cotizacion-img"></td>
          <td class="centered-cell">
            <button class="btn btn-primary"><a href="/Forms(Herrera-Salvini)/prueba-buy-form.html" class="a-cotiza">Comprar</a></button>
          </td>
        </tr>
        <tr>
          <td><img src="/Logos/icono-de-prueba-3.png " alt="" class="img-fluid icon"></td>
          <td>Empresa</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td>XXXXXX</td>
          <td><img src="/Logos/cotizacion-prueba.svg" alt="" class="img-fluid cotizacion-img"></td>
          <td class="centered-cell">
            <button class="btn btn-primary"><a href="/Forms(Herrera-Salvini)/prueba-buy-form.html" class="a-cotiza">Comprar</a></button>
          </td>
        </tr>
        </tbody>
        </table>
      </div>
    </form>
  </div>

<div class="saldo-label">Saldo disponible: $500000ARS </div>

