<div class="container-fluid text-center">
  <img src="/Logos/LogoSinFondoWhite.png" alt="" class="img-fluid" id="logo-header">
</div>
<body>
<h1 class="text-white">Ajustes</h1>
</body>
<div class="settings-section">
  <div class="section-title">Configuración de Cuenta</div>
  <div class="setting-item">
    <div class="setting-icon"></div>
    <div class="setting-label">Cambiar Contraseña</div>
  </div>
  <div class="setting-item">
    <div class="setting-icon"></div>
    <div class="setting-label">Preferencias de Notificaciones</div>
  </div>
  <div class="setting-item">
    <div class="setting-icon"></div>
    <div class="setting-label">Configuración de Aplicación</div>
  </div>
</div>
