button {
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 75px;
  padding: 10px 20px;
  background-color: #1a1a1a;
  --bs-btn-line-height: 1;
}

@media screen and (max-width: 350px) {
  button {
    --bs-btn-line-height: 0.8;
    width: 60px;
    bottom: 65px;
    font-size: 0.85rem;
    padding-left: 10px;
    padding-right: 10px;
  }
}