 /* Estilos de los iconos */
  .social-icons {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .social-icons li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .social-icons li a {
    color: #333;
    font-size: 20px;
  }

  .card {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-weight: bold;
    font-size: 20px;
  }
  
  .card-button {
    margin-top: 20px;
  }
  /* Estilos generales */
  /* Estilos del título "Nuestras Opciones:" */
.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
body {
    font-family: Arial, sans-serif;
    color: #1c3444;
    background-color: #fff;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    
    
  }
  /* Footer */
footer .footer-logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    background-color: #AFDEDC;;
  }
  
  
.social-icons {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.social-icons li {
  display: inline-block;
  margin: 0 5px;
}

.social-icons li a {
  color: #333;
  font-size: 20px;
}

#logoFooter {
  width: 500px; 
  height: auto; 
  margin-bottom: 15px; 
}
